*.exe
*.identcache
*.local
*.log
*.mi
*.ppu
*.o
*.compiled
*.bak
*.or
*.a
*.rsj
/KaM_Remake.drc
/KaM_Remake.map
/KaM_Remake.res
/KaM_Remake_Settings.ini
/Saves
/SavesMP
/SpriteResource/gui.rx
/SpriteResource/guimain.rx
/SpriteResource/guimainh.rx
/SpriteResource/houses.rx
/SpriteResource/trees.rx
/SpriteResource/units.rx
/data/Sprites
/data/defines/houses.dat
/data/defines/pattern.dat
/data/defines/unit.dat
/data/gfx/*.bbm
/data/gfx/*.lbm
/data/gfx/*.dat
/data/gfx/fonts/adam.fnt
/data/gfx/fonts/antiqua.fnt
/data/gfx/fonts/briefing.fnt
/data/gfx/fonts/font01.fnt
/data/gfx/fonts/game.fnt
/data/gfx/fonts/grey.fnt
/data/gfx/fonts/kmlobby0.fnt
/data/gfx/fonts/kmlobby1.fnt
/data/gfx/fonts/kmlobby2.fnt
/data/gfx/fonts/kmlobby3.fnt
/data/gfx/fonts/kmlobby4.fnt
/data/gfx/fonts/maina.fnt
/data/gfx/fonts/maina.old
/data/gfx/fonts/mainb.fnt
/data/gfx/fonts/mainmapgold.fnt
/data/gfx/fonts/metal.fnt
/data/gfx/fonts/mini.fnt
/data/gfx/fonts/mininum.fnt
/data/gfx/fonts/outline.fnt
/data/gfx/fonts/system.fnt
/data/gfx/fonts/won.fnt
/data/gfx/res/
/data/gfx/video/
/data/misc/setup.lib
/data/misc/text.lib
/data/mission/
/data/save/dummy.txt
/data/sfx
/dcu
/src/net/KM_NetAuthSecure.pas
__history
*.tvsconfig